<h2>Cambiar Contraseña</h2>
<form action="/password-reset/reset-password" method="POST">
  <input type="hidden" name="token" value="{{token}}">
  <input type="password" name="newPassword" placeholder="Nueva Contraseña" required>
  <button type="submit">Cambiar Contraseña</button>
</form>