<h2>Restablecer Contraseña</h2>
<form action="/password-reset/send-reset" method="POST">
  <input type="email" name="email" placeholder="Correo electrónico" required>
  <button type="submit">Enviar correo de restablecimiento</button>
</form>